html {
  scroll-behavior: smooth;
}

div.jumbotron {
  margin-top: 25rem;
  margin-bottom: 25rem;
  transition: opacity 0.5s;
  opacity: 0.7;
}

div.jumbotron:hover {
  opacity: 1;
  transition: 0.5s;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  z-index: 99;
  position: absolute;
  width: 100%;
}

#home,
#about,
#experience,
#links {
  padding-top: 10rem;
  margin-top: -10rem;
}

.portfolio-links {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.portfolio-image-link {
  width: 4rem;
}
